<!--Aquí es donde mostramos la lista de productos de nuestra tienda online-->
<div class="container-fluid fondo-negro">
    <div class="row">
        <div class="col-12">
            <h1>Nuestros productos</h1>
        </div>
    </div>


<div class="row" id ="mostrarProductos">
    <div class="col-3" *ngFor="let producto of productos">
        <app-producto  [producto]="producto"></app-producto>
    </div>
    
</div>
    

<div class="spinner-border" role="status" *ngIf= "cargando">
    <span class="sr-only">Loading...</span>
</div>

<div *ngIf="error">{{error_mensaje}}</div>

</div>