
.fondo-negro {
    background: url("/assets/images/fondo1.jpg"), #161616;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    /* vh significa viewport height (altura de la pantalla). El 100 indica que toma el 100% de la pantalla */
    min-height: 100vh;
    height: 100%;
    color: #FEFFFF;
  }

.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}

#mostrarProductos{
    position: center;
    padding-left: 90px;
    padding-right: 90px;
}
h1{
    font-family : Matura MT Script Capitals;
    color: #FEFFFF;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 5%;
}