<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="alert alert-danger" *ngIf="errores.length > 0">
                <ul>
                    <li *ngFor="let error of errores">{{error}}</li>
                </ul>
            </div>
        <form>
            <div class="form-group">
                <input type="email"placeholder="Correo Electrónico"class="form-control" #correo_electronico>

            </div>
            <div class="form-group">
                <input type="password" placeholder="Contraseña" class="form-control"#contrasena (keydown.enter)="login(correo_electronico.value, contrasena.value)">
            </div>
            <p class="btn btn-primary" (click)="login(correo_electronico.value, contrasena.value)">Iniciar sesión</p>
        </form>
    </div>
</div>