
.fondo-negro {
    background-color: #161616;
    /* vh significa viewport height (altura de la pantalla). El 100 indica que toma el 100% de la pantalla */
    min-height: 100vh;
    height: 100%;
    color: #FEFFFF;
  }
  
  .fondo-negro h1  {
    font-family : Matura MT Script Capitals;
  }
#espacio{
    margin-top: 10%;
}

h1, h2{
    font-family : Matura MT Script Capitals;
    color: #FEFFFF;
    text-align: center;
    margin-top: 5%;
}
#detallesEnvio{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}
#margenHorizontal{
    padding-left: 5%;
    padding-right: 5%;
}
#margenVertical{
    margin-bottom: 5%;
}
#formulario{
    color: black;
}