<div class="container-fluid fondo-negro">

    <h1 class="text-center mt-4 mb-4">Mis pedidos</h1>
    <div class="row" id="misPedidos">
        <div class="col-12 col-md-6" *ngFor="let pedido of pedidos">
            <div class="card md-5 mt-5">
                <div class="card-header">
                    <h3>Pedido número {{ pedido.id }}</h3>
                </div>
                <div class="card-body">
                    <h5>Datos del pedido</h5>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Fecha de pedido</th>
                                <td>{{ pedido.fecha }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Estado de pedido</th>
                                <td><span class="btn"
                                        [ngClass]="{'btn-success':pedido.estado=='Enviado', 'btn-warning': pedido.estado=='Pendiente'}">{{ pedido.estado }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-primary" type="button" data-toggle="collapse"
                        [attr.data-target]="'#collapseProductos'+pedido.id" aria-expanded="false"
                        aria-controls="collapseProductos">Lista
                        de productos</button>
                    <div class="collapse" id="collapseProductos{{pedido.id}}">

                        <table class="table mt-4">
                            <thead>
                                <th scope="col">Producto</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Talla</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let linea of pedido.lineas">
                                    <th scope="row">{{ linea.nombre }}</th>
                                    <td class="text-right">{{ linea.precio}} €</td>
                                    <td class="text-right">{{ linea.cantidad}} </td>
                                    <td class="text-right">{{ linea.talla }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer" *ngIf="pedido.estado == 'PENDIENTE'">
                    <a class="btn btn-danger" (click)="cancelarPedido(pedido.id)">Cancelar pedido</a>
                </div>
            </div>
        </div>
    </div>

</div>