<div class="container-fluid fondo-negro">
    <div class="row">
        <div class="col-12">
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-center" style="margin-top: 20px;">
                    <img src="assets/images/logo.png" alt="logoEmpresa">
                </div>
                
                <div class="d-flex justify-content-center" style="margin-top: 20px;">
                    <img src="assets/images/fotoHome1.png" alt="imagenEmpresa">
                </div>


                <h1 class="text-center mt-5">Encuentra lo que buscas</h1>

                <div class="d-flex justify-content-center">

                    <form #f="ngForm" (ngSubmit)="enviarFormulario()">
                        <div class="input-group mb-3">
                            <input type="text"class="form-control" placeholder="Busco..."
                                aria-label="Buscar" aria-describedby="boton-buscar" ngModel name="searchPalabra">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit"
                                    id="boton-buscar"><fa-icon [icon]="iconoBusqueda"></fa-icon></button>
                            </div>
                        </div>
                    </form>

                </div>
            </div> 
            <div class="row justify-content-center mb-3" style="padding-left: 10%; padding-right: 10%;">
                <div class="text-center col-12" *ngIf="hayBusqueda">Esto hemos encontrado, para más artículos, visita el apartado productos.</div>
                <div class="col-3 productos" *ngFor="let producto of productos">
                        <app-producto [producto]="producto"></app-producto>
                </div>
                
            </div>
            

            
        </div>

    </div>
</div>